@charset "utf-8";

article, aside, figure, footer, header, nav, section {
	display: block;
}
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	background: #006BAF;
	margin: 0;
	padding: 0;
}
#container {
	/*background-image: url(../img/jen.jpg);*/
	background-repeat: no-repeat;
	background-position: right top;
	width: 840px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

a:link {color:#ffffff;}      /* unvisited link */
a:visited {color:#ffffff;}      /* unvisited link */
a:active {color:#ffffff;}      /* unvisited link */

h1{
	border-bottom:1px solid #000000;
	letter-spacing:-1px;
	font-size:24px;
	padding-bottom:6px;
	font-weight:400;
	margin:10px 10px 3px 0;
	font-family:Vera, Helvetica, Georgia;
}

h2{
	border-bottom:1px solid #000000;
	letter-spacing:-1px;
	font-size:18px;
	padding-bottom:6px;
	font-weight:400;
	margin:10px 10px 3px 0;
	font-family:Vera, Helvetica, Georgia;
}

h3{

	letter-spacing:-1px;
	font-size:18px;
	padding-bottom:6px;
	font-weight:400;
	margin:10px 10px 3px 0;
	font-family:Vera, Helvetica, Georgia;
}


img.align-left { float:left; margin: 0 15px 15px 0; } 

#logo {
	background-image: url(../img/log.png);
	background-repeat: no-repeat;
	height: 138px;
	width: 100%;
}
#logo hgroup {
	position: absolute;
	top: -500px;
}/*
nav {
	padding-top: 150px;
	width:810px;
	margin-left:auto;
	margin-right:auto;
}
ul {
	padding:0;
	margin:0;
}
nav ul {
	list-style: none;
	margin-bottom: 15px;
	font-weight: bold;
	font-size:20px;
}
nav ul li {
	float: left;
}

nav1 ul li {
	float: center;
}
nav ul a {
	display: block;
	width:140px;
	padding: 10px;
	text-align:center;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	margin: 5px 0px;
	box-shadow: 1px 1px 3px #000;
    text-shadow: 1px 1px 1px #000;
}
nav ul a:link, nav ul a:visited {
	background: rgba(255,255,255,0.2);
}
nav ul a:hover, nav ul a:focus {
	background: rgba(255,255,255,0.4);
}*/

nav {
	padding-top: 150px;
	width:810px;
	margin-left:auto;
	margin-right:auto;
}
nav li {
	padding:0;
	margin:0;
	list-style: none;
	margin-bottom: 15px;
	font-weight: bold;
	font-size:20px;
	float: left;
}
/* main level link */
nav a {
	display: block;
	width:140px;
	padding: 10px;
	text-align:center;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	margin: 5px 0px;
	box-shadow: 1px 1px 3px #000;
    text-shadow: 1px 1px 1px #000;
	background: rgba(255,255,255,0.2);
}
/* main level link hover */
nav .current a, nav li:hover > a {
	background: rgba(255,255,255,0.4);
}
/* sub levels link hover */
nav ul li:hover a, nav li:hover li a {
	background: none;
	border: none;
	color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
nav ul a:hover {
	background: rgba(255,255,255,0.4);
}
/* level 2 list */
nav ul {
	background: #ddd; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */

	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	border: solid 1px #b4b4b4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* dropdown */
nav li:hover > ul {
	display: block;
}
nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
/* clearfix */
nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
nav {
	display: inline-block;
}
html[xmlns] #nav {
	display: block;
}
* html #nav {
	height: 1%;
}

#maincontent {
	margin-top: 80px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#body{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:28px;
	font-weight:bold;
	background-image: url(../img/bcg.png);
	background-repeat:repeat-y;
	width: 519px;
	height:100%;
	padding:20px 260px 20px 30px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}

.pod {
	background: #fff;
	padding: 10px;
	width: 244px;
	float:left;
	margin-right: 13px;
}
.podContent {
	margin-top:10px;
	width: 244px;
	height:181px;
	overflow:hidden;
}
#news .podContent {
	margin-top:12px;
	overflow:auto;
}
#news .podContent p {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left:6px;
	font-size:15px;
}
.pod h1 {
	background: #CCC;
	color: #000;
	padding:5px;
	background-image: url(../img/icon_chevron.png);
	background-repeat:no-repeat;
	background-position:95%;
	font-size:16px;
	font-weight:normal;
	margin: 0 0 10px 0;
}
a.block {
	text-decoration:none;
	display:block;
}
time {
	font-weight:bold;
}
footer {
	text-align:center;
	padding: 10px 0;
	clear: both;
	color: #fff;
}
footer p {
	margin:0 0 5px 0;
}

