@charset "utf-8";

article, aside, figure, footer, header, nav, section {
	display: block;
}
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	background: #006BAF;
}
#container {
	width: 980px;	
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}
#booking {
	background-color:white;	
	width: 100px;
	height:100%;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}

h1{
	border-bottom:1px solid #000000;
	letter-spacing:-1px;
	font-size:24px;
	padding-bottom:6px;
	font-weight:400;
	margin:10px 10px 3px 0;
	font-family:Vera, Helvetica, Georgia;
}
h2{
	border-bottom:1px solid #000000;
	letter-spacing:-1px;
	font-size:18px;
	padding-bottom:6px;
	font-weight:400;
	margin:10px 10px 3px 0;
	font-family:Vera, Helvetica, Georgia;
}
h3{
	letter-spacing:-1px;
	font-size:16px;
	padding-bottom:6px;
	font-weight:400;
	margin:10px 10px 3px 0;
	font-family:Vera, Helvetica, Georgia;
}

img.align-left { float:left; margin: 0 15px 15px 0; } 

#logo {
	background-image: url(../img/adminLog.png);
	background-repeat: no-repeat;
	height: 138px;
	width: 100%;
}
#logo hgroup {
	position: absolute;
	top: -500px;
}

.txtBox {
	border: 1px solid #CCC;
	color: #999;
	height: 75px;
	width: 500px;
}
nav {
	text-align:center;
	padding-top: 150px;	
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}
nav li {
	padding:0;
	margin:0;
	list-style: none;
	margin-bottom: 15px;
	font-weight: bold;
	font-size:20px;
	float: left;
}
/* main level link */
nav a {
	display: block;
	width:140px;
	padding: 10px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	margin: 5px 0px;
	box-shadow: 1px 1px 3px #000;
    text-shadow: 1px 1px 1px #000;
	background: rgba(255,255,255,0.2);
}
/* main level link hover */
nav .current a, nav li:hover > a {
	background: rgba(255,255,255,0.4);
}
/* sub levels link hover */
nav ul li:hover a, nav li:hover li a {
	background: none;
	border: none;
	color: #000;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
/* level 2 list */
nav ul {
	display: none;
	text-align:center;
	margin: 0px;
	padding: 0px;
	width: 160px;
	position: absolute;
	top: 210px;
	text-decoration: none;
	color: #fff;
	border: 0.5px solid #fff;


}
/* dropdown */
nav li:hover > ul {
	display: block;
	background: rgba(255,255,255,1);
}
nav ul li {
	float: none;
	margin: 0;
	padding: 0;
	
}
nav ul a {
	font-weight: normal;
	text-shadow: 0 0px 1px rgba(255, 255, 255, 1);
}
/* clearfix */
nav:after {
	content: ".";

	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

nav li:hover ul li a:hover{ /* Set styles for dropdown when items are hovered */
	background:#fff; /* Solid colour fall-back */


	width: 140px;
	
	color:#fff;


	background:rgba(0,107,175,0.5); /* It'll look nice semi-transparent */


}

#maincontent {
	margin-top: 80px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}


#body{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:28px;
	font-weight:bold;
	background-color: #EBEBEB;	
	width: 920px;
	height:100%;
	padding:20px 20px 20px 30px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.pod {
	background: #fff;
	padding: 10px;
	width: 244px;
	float:left;
	margin-right: 13px;
}
.podContent {
	margin-top:10px;
	width: 244px;
	height:181px;
	overflow:hidden;
}
#news .podContent {
	margin-top:12px;
	overflow:auto;
}
#news .podContent p {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left:6px;
	font-size:15px;
}
.pod h1 {
	background: #CCC;
	color: #000;
	padding:5px;
	background-image: url(../img/icon_chevron.png);
	background-repeat:no-repeat;
	background-position:95%;
	font-size:16px;
	font-weight:normal;
	margin: 0 0 10px 0;
}
a.block {
	text-decoration:none;
	display:block;
}
time {
	font-weight:bold;
}
footer {
	text-align:center;
	padding: 10px 0;
	clear: both;
	color: #fff;
}
footer p {
	margin:0 0 5px 0;
}
.center {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
table {
border-collapse:collapse;
}
table, td, th {
border:0.5px solid #006BAF;
padding:3px;
}
td {
text-align:center;
background-color:#FFFAFA;
}
th {
background-color:#3492D1;
color:black;
}
