@charset "utf-8";

article, aside, figure, footer, header, nav, section {
	display: block;
}
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	background: #006BAF;
}
/*container div for the whole content*/
#container {
	width: 840px;
	height:100%;
	margin-right: auto;
	margin-left: auto;
}
/*classto set links to display white*/
.lb a:link, 
.lb a:visited, 
.lb a:hover { 
 color: #ffffff; 
 text-decoration: none; 
} 

/*class for formatting the film details in films.php*/
.filmdetails{
	float: right;
	text-align: left;	
	margin-right:10px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:15px;	
	width: 300px;
}

/*class for centering tables throughout the website*/
.table-std{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:15px;	
	margin-left:auto; 
	margin-right:auto;
}

/*class for centering things*/
.center {margin-left:auto; margin-right:auto;}

/*class for formatting headings of the film details in films.php*/
.filmheaders{
	float: left;	
	margin-right:10px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:15px;	
	width: 50px;
}

/*class for formatting the plot independently of the otherdetail: films.php*/
.plot{
	text-align: left;	
	margin-right:10px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:15px;	
	width: 450px;
}

/*div for the customer booking form on the homepage*/
#booking {
	float: right;
	margin-right:150px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:15px;
	font-weight:bold;	
	width: 100px;
}

/*div for the main text on the home page*/
#mainContent {
	float:left;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:18px;
	font-weight:bold;
	width: 450px;
	height:100%;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}


h1{
	border-bottom:1px solid #000000;
	letter-spacing:-1px;
	font-size:24px;
	padding-bottom:6px;
	font-weight:400;
	margin:10px 10px 3px 0;
	font-family:Vera, Helvetica, Georgia;
}
h2{
	border-bottom:1px solid #000000;
	letter-spacing:-1px;
	font-size:18px;
	padding-bottom:6px;
	font-weight:400;
	margin:10px 10px 3px 0;
	font-family: Helvetica, Georgia;
}
h3{
	letter-spacing:-1px;
	font-size:16.5px;
	padding-bottom:6px;
	font-weight:400;
	margin:10px 10px 3px 0;
	font-family: Vera, Helvetica, Georgia;
}

img.align-left { float:left; margin: 0 15px 15px 0; } 

#logo {
	background-image: url(../img/log.png);
	background-repeat: no-repeat;
	height: 138px;
	width: 100%;
}
#logo hgroup {
	position: absolute;
	top: -500px;
}
nav {
	padding-top: 150px;
	width:810px;
	margin-left:auto;
	margin-right:auto;
}
ul {
	padding:0;
	margin:0;
}
nav ul {
	list-style: none;
	margin-bottom: 15px;
	font-weight: bold;
	font-size:20px;
}
nav ul li {
	float: left;
}
nav ul a {
	display: block;
	width:140px;
	padding: 10px;
	text-align:center;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	margin: 5px 0px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
    text-shadow: 1px 1px 1px #000;
}
nav ul a:link, nav ul a:visited {
	background: rgba(255,255,255,0.2);
}
nav ul a:hover, nav ul a:focus {
	background: rgba(255,255,255,0.4);
}

#maincontent {
	margin-top: 80px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#body{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:28px;
	overflow:auto;
	font-weight:bold;
	background-color: #EBEBEB;
	width: 760px;
	height:100%;
	padding:20px 20px 20px 30px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.pod {
	background: #fff;
	padding: 10px;
	width: 244px;
	float:left;
	margin-right: 13px;
}
.podContent {
	margin-top:10px;
	width: 244px;
	height:181px;
	overflow:hidden;
}
#news .podContent {
	margin-top:12px;
	overflow:auto;
}
#news .podContent p {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left:6px;
	font-size:15px;
}
.pod h1 {
	background: #CCC;
	color: #000;
	padding:5px;
	background-image: url(../img/icon_chevron.png);
	background-repeat:no-repeat;
	background-position:95%;
	font-size:16px;
	font-weight:normal;
	margin: 0 0 10px 0;
}
a.block {
	text-decoration:none;
	display:block;
}
time {
	font-weight:bold;
}
footer {
	padding: 10px 0;
	clear: both;
	color: #fff;
}
footer p {
	margin:0 0 5px 0;
}
#phone {
	font-weight: bold;
	color: #000;
}
#valid {
	text-align:center;
	margin-right:25px;
}

.center {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

/*styling for tables*/
table {
border-collapse:collapse;
}
table, td, th {
border:0.5px solid #006BAF;
padding:3px;
}
td {
text-align:center;
background-color:#FFFAFA;
}
th {
background-color:#3492D1;
color:black;
}

